.meet-the-owner {
  background: var(--color-primary, #005299);

  padding-bottom: var(--padding-60, 60px);
  .split {
    path {
      fill: var(--light-blue, #edf7fe);
    }
  }
  .wrapper {
    display: flex;
    padding: var(--padding-16, 16px) var(--padding-16, 16px) 0px
      var(--padding-16, 16px);
    flex-direction: column;
    gap: var(--spacing-32, 32px);
    h2 {
      padding-top: var(--padding-32, 32px);
      color: var(--neutral-white, #fff);
    }
  }
  .image {
    text-align: center;
  }
}
.owner-text {
  .text {
    color: var(--neutral-white, #fff);
    text-align: center;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

@media screen and (min-width: 768px) {
  .meet-the-owner {
    .wrapper {
      position: relative;
      padding: 80px 10px;
      h2 {
        width: calc(50% - 20px);
        padding-top: unset;
        text-align: left;
      }
    }

    .image {
      width: calc(50% - 20px);
      position: absolute;
      right: 10px;
      max-width: 550px;
      height: 320px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .owner-text {
    width: calc(50% - 20px);
    .text {
      text-align: left;
    }
  }
}

@media screen and (min-width: 1024px) {
  .meet-the-owner {
    .wrapper {
      padding-bottom: 80px;
      h2 {
        padding-top: 56px;
      }
    }
  }
}
