.sticky-bottom {
  display: flex;
  position: fixed;
  max-height: 60px;
  width: 100%;
  bottom: 0px;
  z-index: 10;
  a {
    display: flex;
    padding: var(--padding-8, 8px) 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-4, 4px);

    width: 100%;

    color: var(--neutral-white, #fff);
    border-right: 1px solid rgba(255, 255, 255, 0.14);
    background: var(--color-primary, #005299);
    svg {
      flex-shrink: 0;
    }
    &:last-child {
      border-right: none;
    }
  }
}

@media screen and (min-width: 600px) {
  .sticky-bottom {
    display: none;
  }
}
